@value variables: "../layouts/variables.css";
@value gradientGrey, padding, breakTablet from variables;


.footer {
  width: 100%;
}


.footer > a {
  display: block;
  width: 100%;
  margin: 0;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.footer p {
  color: white;
}

.footer > div {
  background: gradientGrey;
  display: flex;
  flex-wrap: wrap;
  padding: padding;
  text-align: center;
}
@media (max-width: breakTablet) {
  .footer > div {
    padding-bottom: 120px;
    font-size: 11px;
  }
  .footer .bmbf, .footer .adress {
    width: 100%;
    padding: 40px;
  }
}

.bmbf, .adress {
  width: 50%;
  padding: 40px;
}

.bmbf img {
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
}

.bmbf p {
  text-align: center;
  max-width: 360px;
  padding-top: 20px;
  margin: 0 auto;
}
